@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  label {
    @apply flex flex-col
  }

  input,
  select,
  textarea {
    @apply bg-transparent border outline-none p-2 rounded
  }
}

.detail_img::-webkit-scrollbar {
  width: 0;
}

.detail_img::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.detail_img::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;

}

.main-container {
  max-width: 1400px;
  margin-inline: auto;

  padding-left: 12px;
  padding-right: 12px;
}

* {
  font-family: 'Montserrat', sans-serif;
}